JavaBasic/.gradle
JavaBasic/build/
!JavaBasic/gradle/wrapper/gradle-wrapper.jar
!JavaBasic/**/src/main/**/build/
!JavaBasic/**/src/test/**/build/

### IntelliJ IDEA ###
JavaBasic/.idea/
JavaBasic/.idea/modules.xml
JavaBasic/.idea/jarRepositories.xml
JavaBasic/.idea/compiler.xml
JavaBasic/.idea/libraries/
JavaBasic/*.iws
JavaBasic/*.iml
JavaBasic/*.ipr
JavaBasic/out/
!JavaBasic/**/src/main/**/out/
!JavaBasic/**/src/test/**/out/

### Eclipse ###
JavaBasic/.apt_generated
JavaBasic/.classpath
JavaBasic/.factorypath
JavaBasic/.project
JavaBasic/.settings
JavaBasic/.springBeans
JavaBasic/.sts4-cache
JavaBasic/bin/
!JavaBasic/**/src/main/**/bin/
!JavaBasic/**/src/test/**/bin/

### NetBeans ###
JavaBasic/nbproject/private/
JavaBasic/nbbuild/
JavaBasic/dist/
JavaBasic/nbdist/
JavaBasic/.nb-gradle/

### VS Code ###
JavaBasic/.vscode/

### Mac OS ###
JavaBasic/.DS_Store
